/*.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

  .pipe-separate:first-of-type {
    padding-left: 0;
  }

  .pipe-separate:last-of-type {
    padding-right: 0;
    border-right: none;
  }*/
.centered {
  padding-bottom: 1em;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  padding: 4em;
  margin: 4em;
}

tr:hover {background-color: #f5f5f5}

td, tr {
  height: 4em;
  width: 10em;
}

table {
  position:relative;
  left: 25%;

}

.site_title {
  font-size: 5em;
}

.card_link {
  font-size: 3em;
}

.navigation {
  font-size: 1.5em;
  padding-left: 1em;
  padding-top:1em;
}