
<h2><%= @deck.name %></h2>

<p><%= @card.question %></p>

<form method="post" action="/decks/:deck_id">
  <label for="guess">Enter your guess:</label>
  <input id="guess" name="guess" type="text">
  <input type="submit" value="submit your guess" class="button">
</form>

