
<h2><%= @deck.name %></h2>

<p><%= @card.question %></p>

<form method="post" action="/decks/<%= @deck.id %>">
  <input type="hidden" name="card_id" value="<%= @card.id %>" >
  <label for="guess">Enter your guess:</label>
  <input name="guess" type="text">
  <input type="submit" value="submit your guess" class="button">
</form>

